body{margin:0px;}
/* nav 樣式設定 */
	nav{
		display:flex;
	}
	/* 大於>符號為階層選擇器，代表在<nav>標籤底下的.logo才會套用樣式 */
	nav>.mywebsite{
		flex:none;/* 沒有彈性，固定尺寸 */
		font-weight:bold;font-size: 20px;padding:10px;
		width:150px;
	}
	nav>.space{
		flex:auto;/* 盡量把空間塞滿 */
	}
	nav>.item1{
		flex:none;/* 沒有彈性，固定尺寸 */
		font-size: 20px;padding:10px;
		width:60px;
	}
	nav>.item2{
		flex:none;/* 沒有彈性，固定尺寸 */
		font-size: 20px;padding:10px;
		width:60px;	
	} 
	nav>.item3{
		flex:none;/* 沒有彈性，固定尺寸 */
		font-size: 20px;padding:10px;
		width:60px;
	}
	nav>.item4{
		flex:none;/* 沒有彈性，固定尺寸 */
		font-size: 20px;padding:10px;
		width:60px;
	/*	justify-content: flex-end;*/
	}
/*welcome 樣式設定*/
	div>.box{
			background-color: #ADD8E6;
			color:black;font-weight:bold;font-size:40px;
			/*display: table-cell;vertical-align: middle;*/ /* 文字垂直水平置中,text-align:center 只有文字水平置中 */
			padding:150px;text-align:center;
	}
/* main 樣式設定*/
	main{ /*容器*/
		display:flex;
		flex-wrap:wrap; /* 項目換行，針對螢幕尺寸設定*/
		justify-content:center; /*水平對齊中間，flex-start表靠左，flex-end表靠右 */
		/* align-items:center; 置中 */
		background-color: #cccccc;

	}	
	main>.title{ /*項目 */
		flex:none; /*項目尺寸的處理方式，此代表不能彈性縮放*/
		width:280px;margin:10px; 
		background-color: #ffcccc;
	}
/* 圖片樣式設定 */
	img{
		width:280px;
		height:280px;
		margin:10px;
		object-fit: contain;
	}
/* 螢幕尺寸設定 */
	/* 針對螢幕尺寸<1200px 的設定，600px ~ 1200px 之間: 2欄，彈性尺寸，width:90%。*/
	@media (max-width:1200px){
		main>.title{
			width:45%; /* 90%/2 分給2欄 */
		}
	}
	/* 600px 以下: 1欄， 彈性尺寸， width:90% */
	@media (max-width: 600px){
		main>.title{
			width:90%;
		}
	}
</body>
</html>